
.headerLoginMenu{
  /* margin-right: -3px; */
  /* margin-left: -35px; */
  /* width: 133%; */
  /* margin-right: -15%; */
  display: block;
}
.headerLoginMenu .fv-footerMenuRibbonMobile .col-sm-2 {
  flex: 0 0 27.666667%;
  width: 16.666667% !important;
  margin: auto;
  margin-right: -10vw;
  margin-top: 12px;
}
.fv-SearchHomePage.headerLoginMenu {
  width: 98vw ;
  margin-left: -4% ;
}
.fv-SearchHomePage.headerLoginMenu .fv-footerMenuRibbonButton input,.fv-SearchHomePage.headerLoginMenu .fv-footerMenuRibbonButton button {
  background-color: rgba(102, 212, 72, 0.31);
  color: #3EC886;
  position: absolute;
  margin-right: -87%;
}
.fv-textInToCascadeOptionHeaderLoginNameAnFamily{
  margin-top: -3%;

}
.fv-SearchHomePage.fv-DisplayPage .fv-ProfilePageLeftBody.fv-hostUsersMenuSearchPage {
  margin-right: -14px;
}
