.hostStepIncreaseAndDecreaseBody{
  margin-right: -4%;
  margin-bottom: 5%;

  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    margin-right: -8%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .col-md-2 {
    flex: -1 0 10.666667%;
    max-width: 16.666667%;
    margin-right: -4%;
  }
  .col-md-3 {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
  }

}
.fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Right .hostStepIncreaseAndDecreaseBody .button, .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Right .hostStepIncreaseAndDecreaseBody input, .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Right .hostStepIncreaseAndDecreaseBody textarea, .fv-HostStep1Page .fv-HostStep1PageBody .fv-hostStepPage1Right .hostStepIncreaseAndDecreaseBody select {
  width: 45%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  height: 100%;
  font-size: 18px;
  padding-top: 0%;
}